.swgcontrol-win {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 6px;
  margin: 2px;
  padding: 0px;
  float: left;
}




.swg-ok {
  background: #49cc90;
  color: #fff;
  border: 0px;
}

.swg-try {
  background: #fca130;
  color: #fff;
  border: 0px;
}

.swg-err {
  background: #f93e3e;
  color: #fff;
  border: 0px;
}